body{
    background-color: aquamarine;
    color: rgb(94, 88, 88);
    font-family: sans-serif; 
margin: 0px;
}
header {border-bottom: solid  4px  red ;
padding:  10px ;
font-size: 32px;
color: chartreuse;
}
section{background:rgb(235, 235, 4) ;
padding-bottom:   80 px;
padding-top:50px ;
display:flex ;
justify-content:center ;
}

